In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/hitesh04/Downloads/Iris.csv")

In [4]:
print("Missing values detection")

Missing values detection

In [5]:
print(df.isnull().sum(),"\n")

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
print("statistics")

statistics

In [7]:
print(df.describe(include='all'),"\n")

                Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
count   150.000000     150.000000    150.000000     150.000000    150.000000
unique         NaN            NaN           NaN            NaN           NaN
top            NaN            NaN           NaN            NaN           NaN
freq           NaN            NaN           NaN            NaN           NaN
mean     75.500000       5.843333      3.054000       3.758667      1.198667
std      43.445368       0.828066      0.433594       1.764420      0.763161
min       1.000000       4.300000      2.000000       1.000000      0.100000
25%      38.250000       5.100000      2.800000       1.600000      0.300000
50%      75.500000       5.800000      3.000000       4.350000      1.300000
75%     112.750000       6.400000      3.300000       5.100000      1.800000
max     150.000000       7.900000      4.400000       6.900000      2.500000

            Species
count           150
unique            3
top     Iris-setosa
freq             50
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

In [8]:
print("dimension")
print(df.shape,"\n")

dimension
(150, 6)

In [9]:
print("datatypes")
print(df.dtypes)

datatypes
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [12]:
df['Species'] = df['Species'].astype('category')

In [13]:
df['Species_label'] = df['Species'].cat.codes

In [14]:
print(df[['Species', 'Species_label']].head())

       Species  Species_label
0  Iris-setosa              0
1  Iris-setosa              0
2  Iris-setosa              0
3  Iris-setosa              0
4  Iris-setosa              0

In [15]:
df_one_hot = pd.get_dummies(df,columns=['Species'])

In [16]:
print(df_one_hot.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

   Species_label  Species_Iris-setosa  Species_Iris-versicolor  \
0              0                 True                    False
1              0                 True                    False
2              0                 True                    False
3              0                 True                    False
4              0                 True                    False

   Species_Iris-virginica
0                   False
1                   False
2                   False
3                   False
4                   False

In [17]:
#label encoding
print(df[['Species','Species_label']].head(),"\n")

       Species  Species_label
0  Iris-setosa              0
1  Iris-setosa              0
2  Iris-setosa              0
3  Iris-setosa              0
4  Iris-setosa              0